@import 'flatpickr/dist/flatpickr.min.css';


  .form {
  display: none;
}

.form.is-open {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.form-menu {
  padding: 32px;
  position: relative;
  width: 682px;
  height: 869px;
  border-radius: 16px;
  background: #D4D0C2;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.form-menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-menu-title {
color: #000;
text-align: right;
font-family: Nekst;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal; /* 32px */
text-transform: uppercase;
margin-bottom: 0;
}

.form-menu-x {
  margin-right: 16px;
  fill: #000;
}

.form-menu-x:hover {
  cursor: pointer;
  color: #929292;
}

.form-title {
color: #000;
leading-trim: both;
font-family: Nekst;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal; /* 552% */
text-transform: uppercase;
}

.form-label {
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.title-label {
  color: #000;
font-family: "Nekst";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 45.6px */
}

.input-form {
  position: relative;
font-family: "Nekst";
padding: 10px 20px;
color: #000;
font-size: 20px;
width: 100%;
resize: none;
border-radius: 16px;
background: #D4D0C2;
border: 1px solid #000;
height: 56px;
}

.input-form::placeholder {
  font-family: "Nekst";
  font-size: 20px;
}

.project-name {
  z-index: 100;
}

.form-button-send {
  z-index: 1;
  position: absolute;
  border-radius: 50%;
  color: var(--black, #000);
text-align: center;

/* button small */
font-family: Nekst;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
width: 120px;
height: 120px;
flex-shrink: 0;
background-color: #FCFF62;
right: 34px;
top: 680px;
transition: all 0.3s ease;
}

.form-button-send:hover {
  top: 720px;
}

.select-form {
flex-shrink: 0;
border-radius: 16px;
font-family: "Nekst";
font-size: 20px;
border: 1px solid #000;
padding: 12px 0;
padding-left: 12px;
padding-right: 12px;
background-color: #D4D0C2;
width: 215px;
height: 64px;
flex-shrink: 0;
}

.option-select {
  color: rgba(0, 0, 0, 0.50);
font-family: "Nekst";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 24px */
}

.textarea-form {
  height: 140px;
}

/* styles.scss або form.component.scss */


/* form.component.scss або styles.scss */

/* Задаємо шрифт Nekst для календаря flatpickr */
.flatpickr-calendar {
  z-index: 1000000 !important;
  background-color: #D4D0C2;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Nekst', sans-serif !important; /* Додаємо шрифт Nekst */
}

::ng-deep .flatpickr-calendar {
  background-color: #D4D0C2;
  border-radius: 16px;
  border: #000 1px solid;
  font-family: 'Nekst', sans-serif !important;
}

::ng-deep .flatpickr-month {
  font-family: 'Nekst', sans-serif !important;
}

::ng-deep .flatpickr-month:hover {
  background-color: #D4D0C2;
}

::ng-deep .flatpickr-prev-month,
::ng-deep .flatpickr-next-month {
  font-family: 'Nekst', sans-serif !important;
  background-color: #D4D0C2;
}

::ng-deep .flatpickr-day {
  font-family: 'Nekst', sans-serif !important;
  background-color: #D4D0C2;
}

::ng-deep .flatpickr-day:hover {
  background-color: #fff;
  font-weight: 400;
}

::ng-deep .flatpickr-day.selected:active {
  background-color: #FCFF62;
}

::ng-deep .flatpickr-hour {
  background-color: #D4D0C2;
  font-weight: 400;
}



@media screen and (min-width: 834px) and (max-width: 1511px) {
  .form-menu {
    width: 641px;
    height: 744px;
  }

  .title-label {
    font-size: 18px;
  }
  .input-form {
    height: 46px;
  }
  .form-button-send {
    top: 616px;
  }
  .form-button-send:hover {
    top: 620px;
  }

  .flatpickr-calendar {
    width: 100% !important; /* Календар буде займати 80% ширини контейнера */
    font-size: 14px; /* Нормальний розмір шрифту */
  }

  .flatpickr-month {
    font-size: 16px; /* Нормальний розмір шрифту місяця */
  }

  .flatpickr-day {
    font-size: 14px; /* Нормальний розмір шрифту дня */
  }

  .flatpickr-prev-month,
  .flatpickr-next-month {
    font-size: 16px; /* Нормальний розмір шрифту кнопок перемикання місяців */
  }
}

@media screen and (min-width: 320px) and (max-width: 833px) {
  .form-menu {
    border-radius: 0;
    padding: 16px;
    width: 100%;
    height: 100%;
    gap: 16px;
  }
  .form-title {
    font-size: 29px;
  }
  .title-label {
    font-size: 20px;
  }
  .input-form {
    display: flex;
    align-items: center;
    height: 36px;
  }
  .input-form::placeholder {
    margin: auto 0;
    font-size: 13px;
  }
  .form-button-send {
    width: 100px;
    height: 100px;
    top: 520px;
  }
  .form-button-send:hover {
    top: 520px;
  }
  .date-input-form {
    font-size: 13px;
    height: 36px;
    background: #D4D0C2;
  }
  .error.ng-star-inserted {
    font-size:12px;
  }
  .flatpickr-calendar {
    width: 100% !important; /* Робимо календар шириною 100% */
    background-color: #D4D0C2;
    font-size: 12px; /* Зменшуємо розмір шрифту */
  }

  .flatpickr-month {
    font-size: 14px; /* Зменшуємо розмір шрифту місяця */
  }

  .flatpickr-day {
    font-size: 12px; /* Зменшуємо розмір шрифту дня */
  }

  .flatpickr-prev-month,
  .flatpickr-next-month {
    font-size: 14px; /* Зменшуємо розмір шрифту кнопок перемикання місяців */
  }
  .error.ng-star-inserted {
    font-size: 11px;
  }
}

.field-container {
  position: relative;
  z-index: 100;
}

.error {
  position: absolute;
  color: red;
  font-size: 14px;
  font-family: 'Nekst';
  top: 100%;
  left: 12px;
  transform: translateY(5px);
}
