
<div class="container"> <!-- CONTAINER -->
  <nav class="nav"> <!-- NAV -->
    <ul class="nav-menu">
      <li class="nav-list" [class.active]="currentSection === 'home'" (click)="scrollToSection('home')"><a class="nav-link">Home</a></li>
      <li class="nav-list" [class.active]="currentSection === 'hello'" (click)="scrollToSection('hello')"><a class="nav-link">Hello</a></li>
      <li class="nav-list" [class.active]="currentSection === 'services'" (click)="scrollToSection('services')"><a class="nav-link">Services</a></li>
      <li class="nav-list" [class.active]="currentSection === 'portfolio'" (click)="scrollToSection('portfolio')"><a class="nav-link">Portfolio</a></li>
      <li class="nav-list" [class.active]="currentSection === 'connect'" (click)="scrollToSection('connect')"><a class="nav-link">Connect</a></li>
    </ul>
  </nav>

  <!-- SWIPER PHONE -->
  <div class="swiper-phone-container">
    <swiper #navigationSwiper id="navigationSwiper" class="swiper-phone" [pagination]="{ clickable: true }" (swiper)="onSwiper($event)"
      [spaceBetween]="0" [config]="swiperConfigMobile" (swiperDragMove)="onSwiperDragMove()">
      <ng-template swiperSlide>
        <a class="link-photo-swiper link-spacing" [class.active]="currentSection === 'home'" (click)="setActiveSection('home')">Home</a>
      </ng-template>
      <ng-template swiperSlide>
        <a class="link-photo-swiper link-spacing" [class.active]="currentSection === 'hello'" (click)="setActiveSection('hello')">Hello</a>
      </ng-template>
      <ng-template swiperSlide>
        <a class="link-photo-swiper link-spacing" [class.active]="currentSection === 'services'" (click)="setActiveSection('services')">Services</a>
      </ng-template>
      <ng-template swiperSlide>
        <a class="link-photo-swiper link-spacing" [class.active]="currentSection === 'portfolio'" (click)="setActiveSection('portfolio')">Portfolio</a>
      </ng-template>
      <ng-template swiperSlide>
        <a class="link-photo-swiper link-spacing" [class.active]="currentSection === 'connect'" (click)="setActiveSection('connect')">Connect</a>
      </ng-template>
    </swiper>
  </div>



   <!-- MAIN -->
  <main class="main">
    <div class="main-container">
      <div class="main-text">
      <section class="main-text-img" id="home">
        <h1 class="title">synertech</h1>
        <h2 class="subtitle">let` s build something</h2>
        <h2 class="subtitle">
          <img height="925" class="icon-black-circle" src="../assets/black-circle.svg" alt="Black-circle">
          <span class="great"> <span class="great-subtitle">great</span> <span class="together">together</span> </span>
        </h2>
        <img class="logo-img" src="../assets/logo.png" alt="Logo">
      </section>
      <div class="main-text-btn-get-started">
        <p class="main-text-building">Building Up Communities, Careers & Enterprises Worldwide</p>
        <button class="button-get-started" (click)="scrollToSection('connect')">get started</button>
      </div>
    </div>
      <!-- HELLO -->
      <section id="hello" class="block-phones">
        <section id="hello" class="block-phones">
          <div #videoContainer class="phones-container">
            <video #videoElement src="../assets/video-syner.mp4" class="phones-img" autoplay loop muted playsinline></video>
          </div>
        </section>
        <div id="about-us" class="about-us-section">
          <div class="about-us">
            <div class="ideas-ignite-block" [@slideInLeft]="sectionInView ? 'true' : 'false'">Ideas Ignite</div>
            <div class="black-circle" [@slideInLeft]="sectionInView ? 'true' : 'false'"></div>
            <div class="creativity-block" [@slideInRight]="sectionInView ? 'true' : 'false'">Creativity</div>
            <div class="takes-flight-fueling-innovation-block" [@slideInRight]="sectionInView ? 'true' : 'false'">Takes Flight. Fueling Innovation,</div>
            <div class="crafting-dreams" [@slideInLeft]="sectionInView ? 'true' : 'false'">Crafting Dreams.</div>
            <div class="where-thoughts-soar" [@slideInLeftSoar]="sectionInView ? 'true' : 'false'">Where Thoughts Soar,</div>
            <div class="while-block-first" [@slideInRight]="sectionInView ? 'true' : 'false'"></div>
            <div class="and-imagination-creates" [@slideInRight]="sectionInView ? 'true' : 'false'">and Imagination Creates -</div>
            <div class="limitless-horizons" [@slideInLeft]="sectionInView ? 'true' : 'false'">Limitless Horizons. </div>
            <div class="while-block-second" [@slideInRight]="sectionInView ? 'true' : 'false'"></div>
            <div class="unleash-your-potential" [@slideInRight]="sectionInView ? 'true' : 'false'">Unleash Your Potential with Us.</div>
          </div>
        </div>

      </section>
      <!-- SERVICES -->
      <section id="services" class="services-section">
        <div class="services-container">
        <h2 class="services-title">Services</h2>
        <div class="services-cards-list">
          <div class="services-card">
            <span class="title-cards">dEVELOPMENT</span>
            <div class="engineering-list">
              <span class="engineering-specialty">Front End</span>
              <span class="engineering-specialty">Back End</span>
              <span class="engineering-specialty">Mobile App</span>
            </div>
            <img class="cards-img" src="../assets/cards/spring.png.png" alt="spring">
            <button class="button-get-started-card button-get-started-card-development hover-btn-card" (click)="scrollToSection('connect')"><span class="button-get-started-card-text">get started</span>
              <img class="arrow" src="../assets/arrow-right.png" alt="">
            </button>
          </div>
          <div class="services-card">
            <span class="title-cards">design</span>
            <div class="engineering-list">
              <span class="engineering-specialty">Creative</span>
              <span class="engineering-specialty">Brand</span>
              <span class="engineering-specialty">UI/UX</span>
            </div>
            <img class="cards-img-figure" src="../assets/cards/figure.png.png" alt="figure">
            <button class="button-get-started-card-design button-get-started-card hover-btn-card" (click)="scrollToSection('connect')"><span class="button-get-started-card-text">get started</span>
              <img class="arrow" src="../assets/arrow-right.png" alt="">
            </button>
          </div>
          <div class="services-card">
            <span class="title-cards">marketing</span>
            <div class="engineering-list">
              <span class="engineering-specialty">SMM</span>
              <span class="engineering-specialty">Email Marketing</span>
              <span class="engineering-specialty">Target</span>
            </div>
            <img class="cards-img-snail" src="../assets/cards/snail.png" alt="snail">
            <button class="button-get-started-card snail-btn hover-btn-card" (click)="scrollToSection('connect')"><span class="button-get-started-card-text">get started</span>
              <img class="arrow" src="../assets/arrow-right.png" alt="">
            </button>
          </div>
        </div>
      </div>
      </section>
      <!-- MATTER -->
      <app-matter></app-matter>
      <!-- PORTFOLIO -->
      <section id="portfolio" class="portfolio-section">
        <div class="portfolio-container">
        <div class="portfolio">
          <h2 class="portfolio-title">Portfolio</h2>
          <swiper
            class="swiper"
            [config]="portfolioSwiperConfig"
            (swiper)="onSwiper($event)"
            (swiperDragMove)="onSwiperDragMove()"
          >
            <ng-template swiperSlide>
              <div class="swiper-slide"><img class="portfolio-card" src="../assets/portfolio/card-two-portfolio.png" alt="card-two-portfolio-photos"></div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="swiper-slide"><img class="portfolio-card" src="../assets/portfolio/card-two-portfolio-cards.png" alt="card-two-portfolio-cards"></div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="swiper-slide"><img class="portfolio-card iphone-cards" src="../assets/portfolio/iphone-15-pro-on-white-background-v6-front-view-Recovered 1.png" alt="card-two-portfolio-phons"></div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="swiper-slide"><img class="portfolio-card" src="../assets/portfolio/block-img.png" alt="card-two-portfolio-phons"></div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="swiper-slide"><img class="portfolio-card" src="../assets/portfolio/PC-img.png" alt="card-two-portfolio-phons"></div>
            </ng-template>
          </swiper>
        </div>
        <!-- Navigation rectangles -->
        <div class="navigation">
          <div
            id="rect1"
            class="rectangle"
            (click)="goToSlide(0)"
            [ngClass]="{'active': activeSlideIndex === 0}"
          ></div>
          <div
            id="rect2"
            class="rectangle"
            (click)="goToSlide(1)"
            [ngClass]="{'active': activeSlideIndex === 1}"
          ></div>
          <div
            id="rect3"
            class="rectangle"
            (click)="goToSlide(2)"
            [ngClass]="{'active': activeSlideIndex === 2}"
          >
          </div>
        </div>


        <div class="navigation-mobile">
          <div
            id="rect1"
            class="rectangle"
            (click)="goToSlide(0)"
            [ngClass]="{'active': activeSlideIndex === 0}"
          ></div>
          <div
            id="rect2"
            class="rectangle"
            (click)="goToSlide(1)"
            [ngClass]="{'active': activeSlideIndex === 1}"
          ></div>
          <div
            id="rect3"
            class="rectangle"
            (click)="goToSlide(2)"
            [ngClass]="{'active': activeSlideIndex === 2}"
          >
          </div>
          <div
            id="rect1"
            class="rectangle"
            (click)="goToSlide(3)"
            [ngClass]="{'active': activeSlideIndex === 3}"
          ></div>
          <div
            id="rect1"
            class="rectangle"
            (click)="goToSlide(4)"
            [ngClass]="{'active': activeSlideIndex === 4}"
          ></div>
        </div>
      </div>
      </section>
      <!-- CONNECT -->
      <section id="connect" class="connect-section">
        <div class="connect">
          <h2 class="title-connect">connect</h2>
          <div class="connect-btn">
            <div  class="animated-arrow">
              <img src="../assets/arrow-down-while.svg" alt="arrow-down-while" width="110">
            </div>
            <p class="get-title">get started</p>
            <div class="animated-arrow">
              <img src="../assets/arrow-down-while.svg" alt="arrow-down-while">
            </div>
          </div>
          <div class="connect-text-interest">
            <p class="text-interest">What interests you?</p>
          </div>
          <div class="list-click-block">
            <div (click)="toggleForm()" class="img-click-block development-block">
              <p class="img-click-text">development</p>
              <p class="development-text"><span>Front End</span> <span>Back End</span> <span>Mobile App</span></p>
            </div>
            <div (click)="toggleForm()" class="img-click-block design-block">
              <p class="img-click-text">design</p>
              <p class="design-text"><span>Creative</span> <span>Brand</span> <span>UI/UX</span></p>
            </div>
            <div (click)="toggleForm()" class="img-click-block marketing-block">
              <p class="img-click-text">marketing</p>
              <p class="marketing-text"><span>SMM Email</span> <span>Marketing</span> <span>Target</span></p>
            </div>
          </div>
          <div class="form-section">
            <div class="form-block">
            </div>
          </div>
          <div class="get-started">
            <p class="get-started-text">( Get started )</p>
          </div>
          <div class="footer-block-get-started">
            <div class="footer-text-email">
              <p class="footer-text">Building Up Communities, Careers & Enterprises Worldwide</p>
              <div class="footer-link-block">
                <a target="_blank" class="footer-link" href="mailto:synertech&#64;gmail.com">synertech&#64;gmail.com</a>
                <a target="_blank" class="footer-link" href="https://www.instagram.com/syner.tech?igsh=MXFvZGNrZXRnaTgzZA%3D%3D">Instagram</a>
                <a target="_blank" class="footer-link" href="https://www.facebook.com/profile.php?id=61555554420833">Facebook</a>
              </div>
            </div>
            <div>
              <div class="footer-get-started-block-button">
                <p class="footer-get-started-text">get started</p>
                <button class="footer-button-get-started" (click)="scrollToTop()">
                  <img width="52" height="44" src="../assets/arrow-top-right.png" alt="">
                </button>
              </div>
            </div>
            <div class="footer-reserved-privacy">
              <p class="footer-reserved">2024&#64; all rights reserved</p>
              <p class="footer-privacy">Privacy Policy</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>

<app-form [isOpen]="isOpen" (toggle)="toggleForm()"></app-form>


