<section id="matter" class="matter-section">
  <div class="matter-container">
    <div id="matterCanvasContainer" class="matter">
      <canvas id="matterCanvas"></canvas>
      <div class="background-1 draggable" id="body1">web design</div>
      <div class="background-2 draggable" id="body2">creativity</div>
      <div class="background-1 draggable" id="body3">experience</div>
      <div class="background-2 draggable" id="body4">mobile app</div>
      <div class="background-1 draggable" id="body5">smm</div>
      <div class="background-2 draggable" id="body6">brands</div>
      <div class="background-1 draggable" id="body7">front-end</div>
      <div class="background-2 draggable" id="body8">animation</div>
      <div class="background-1 draggable" id="body9">figma</div>
    </div>
  </div>
</section>
